@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2></h2>
            </hgroup>
            <p>
                We create online medical aid quotes
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Register for a new account 
    </li>

    <li class="two">
        <h5>Populate the Quote Request form</h5>
        You would require some of the practise details.
    </li>

    <li class="three">
        <h5>We notify you when your quotes are available</h5>
        You can look at them online in your own time and accept one when ready.
    </li>
</ol>
