<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NM_Forms.DAL.Properties.Settings.NM_FormsConnectionString"
            connectionString="Data Source=(local);Initial Catalog=NM_Forms;User ID=sa;Password=aberdeen31"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>